* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

body {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 100%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}

h1 {
  text-decoration: underline;
  font-size: 60px;
  color: green;
}

.bild-div {
  display: inline-flex;
  flex-direction: column;
}

.bild {
  height: 200px;
}
rgba(25